<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Upload yer stuff</title>
    <link rel="stylesheet" href="/static/centered.css">
    <link rel="icon" href="/static/favicon.png"/>
    <!-- All art courtesy of /u/96fps !-->
</head>
<body>

<div class="centered-thing">
    <img src="/static/peanut-the-fox.jpg">
    <form method="POST" action="/customupload" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="text" name="customname" />
        <input type="submit" value="Upload" />
    </form>
</div>
</body>
</html>